@import "../../../assets/styles/global-constants.scss";

.productTitle {
    font-size: 15px;
    font-family: $inter;
}

.totalPrice {
    font-weight: 700;
    font-size: 20px;
    font-family: $inter;
}

.counterCont {
    display: block;
    float: left;
    margin-bottom: 6px;
}

.product_weight {
    font-size: $font-xs;
    color: #727272;
}

.pName,
.price {
    line-height: 1.5;
    margin: 0;
    font-size: $font-s;
    font-family: $inter;
    margin-top: 0px;
    font-weight: 600;
    color: #1e1f1f;
}

.pSubCat {
    font-size: 11px;
    color: #0d9488;
    font-weight: 500;
    margin-top: 1px;
    margin-bottom: 2px;
    font-family: $inter;
}

.remove_btn_pos {
    position: relative;
    bottom: 24px;
    right: 18px;
    float: right;
    background: none;
}

.detete-cont {
    text-align: center;
    position: relative;
    top: -4px;
    float: right;
    right: 0px;
    padding: 12px;
}

::ng-deep .mdc-radio {
    // top: 6px;
}

// For outer circle
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $teal-100 !important;
}

//For inner circle
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: $teal-100 !important;
}