<div class="plusMinusRoot" [class.disabled-root]="disabled || disable">
    <!-- Initial Add Button when count is 0 and minVal is 0 -->
    <button 
        type="button"
        class="modernAddBtn" 
        *ngIf="type === 'type1' && (inputVal === 0 || !inputVal) && minVal === 0"
        (click)="addButtonClickHandler()"
        [disabled]="disabled || disable">
        <span class="material-icons-round addIcon">add</span>
        <span class="btnText">{{ label || 'ADD' }}</span>
    </button>

    <!-- Stepper Control when count > 0 or minVal > 0 -->
    <div class="stepperCapsule" *ngIf="inputVal > 0 || minVal > 0 || type !== 'type1'">
        <button 
            type="button"
            class="stepBtn minusBtn" 
            [disabled]="minusBtnFlg || disabled || disable" 
            (click)="decrement()"
            title="Decrease quantity">
            <span class="material-icons-round">remove</span>
        </button>

        <div class="valueDisplay" [class.txt-disabled]="disabled || disable">
            {{ inputVal || 0 }}
        </div>

        <button 
            type="button"
            class="stepBtn plusBtn" 
            (click)="increment()" 
            [disabled]="plusBtnFlg || disabled || disable"
            title="Increase quantity">
            <span class="material-icons-round">add</span>
        </button>
    </div>
</div>