<div class="product_details" [class.is-out-of-stock]="product.disabled || (!product.is_unlimited && (product.in_stock === false || product.in_stock === 0 || (product.stock_qty !== undefined && product.stock_qty <= 0)))">
    <div style="width: 100%;">

        <div class="pName" (click)="detailed_view($event)" style="cursor: pointer;">
            <span>{{product['name']}}</span>
        </div>

        <div *ngIf="product['badge']=='yes'" class="badge_txt">{{product['badge_txt']}}</div>

        <div style="text-align: center; margin-top: -4px; position: relative;" (click)="detailed_view($event)">
            <img [src]="product['img_url']" class="product_thumb" (load)="onImageLoad($event)" [alt]="product['name']">
            <div class="thumb-out-of-stock-overlay" *ngIf="!product.is_unlimited && (product.in_stock === false || product.in_stock === 0 || (product.stock_qty !== undefined && product.stock_qty <= 0))">
                <span>Out of Stock</span>
            </div>
        </div>

        <div>
            <div class="product_weight">{{product["updated_weight"]}} {{product["unit_name"]}}</div>
        </div>

        <div class="price" *ngIf="!product['disable']">₹ {{ this.product['price'] | number:'1.0-0'}}
            <span *ngIf="product['original_price'] && product['original_price'] > product['price']"
                style="text-decoration: line-through; color:#aaa; font-weight: 500;" class="font-12">
                ₹ {{this.product['original_price'] | number:'1.0-0'}} </span>
        </div>

        <div *ngIf="!product['disable'] && !isMultiDayDelivery">
            <div class="std_delivery">
                Delivery: <span [style.color]="(product.allow_immediate_30 == 1 || product.allow_immediate_10 == 1 || product.allow_immediate_60 == 1) ? '#0d9488' : '#e87517'" style="font-weight: 600;"
                    class="font-11">{{product["delivery_date_enhanced"]}}</span>
            </div>
        </div>

        <div
            *ngIf="isProductInStock; else NotAvailable">
            <plus-minus style="position: relative; float: left;" class="plusMinusComp" [caption]=""
                [inputVal]="(product['units']||0)" [stepVal]="1" [minVal]="0"
                [maxVal]="(product.is_unlimited == 1 || product.is_unlimited === true) ? 99 : ((product.stock_qty !== undefined && product.stock_qty !== null) ? product.stock_qty : 10)"
                (onChange)="plusMinusValue($event)" [disabled]="product['disable']"
                *ngIf="!(product.subs_options ? ((product.subs_options.rangeSelected.length>0) || (product.subs_options.multiDaySelected.length > 0)) : false)">
            </plus-minus>

            <div *ngIf="(product.subs_options.multiDaySelected && product.subs_options.multiDaySelected.length==0) && (product.subs_options.rangeSelected && product.subs_options.rangeSelected.length==0) && (this.product.units || 0) == 0"
                (click)="viewSubscription($event)" style="position: relative; float: right; margin-top: 6px;">
                <img *ngIf="product['subscribeFlg']" class="noselect" src="assets/general/calendar.png" width="28" />
            </div>

            <div class="view_subscription" (click)="viewSubscription($event)"
                style="position: relative; float: right; margin-top: 6px;"
                *ngIf="(product.subs_options) ? ((product.subs_options.rangeSelected.length>0) || (product.subs_options.multiDaySelected.length > 0)) : false">
                <span class="tnkspt_primary_btn subscribed">Subscribed</span>
            </div>
        </div>
        <ng-template #NotAvailable>
            <div class="out-of-stock-container">
                <span class="out-of-stock-pill">Out of Stock</span>
            </div>
        </ng-template>
    </div>
</div>