@import "../../../assets/styles/global-constants.scss";

:host {
    width: 94%;
    margin: 0 auto;
}

.addressItems {
    // margin: 12px;
    margin-top: 24px;
    margin-bottom: 3px;
    width: 100%;

    div {
        margin-bottom: 3px;
        margin-bottom: 3px;
    }

    span {
        display: inline-block;
    }
}

.defaultAddress {
    font-weight: 700;
}

.addressTitle {
    font-weight: 600;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;

    .edit-btn {
        width: 130px;
        flex: 0 0 0 20%;
    }

    .deliver-btn {
        width: 130px;
    }

    .delete-btn {
        display: flex;
        align-items: center;
        padding: 18px;
        border-left: 1px solid #bebebe;
        height: 60px;
        top: 0px;
        position: relative;
    }
}

:host {
    display: block;
    height: 100%;
    overflow: hidden;
}

.address-cont {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    padding: 0 4px 65px 4px;
    box-sizing: border-box;
    scroll-behavior: smooth;

    .address-box {
        margin-bottom: 12px;
    }
}

.add-address-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(to top, #ffffff 85%, rgba(255, 255, 255, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    button {
        width: 80%;
        max-width: 400px;
    }
}

.delivering-here {
    float: right;
    background-color: #30d2ad;
    padding: 0 9px 0 9px;
    display: inline-block;
    border-radius: 3px;
    color: white;
}

.default-tag {
    float: right;
    background-color: #ffc529;
    color: #111719;
    font-size: 11px;
    font-weight: 600;
    padding: 1px 8px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 6px;
}

::ng-deep .mdc-radio {
    // top: 6px;
}

::ng-deep .mdc-form-field,
::ng-deep .mdc-label {
    width: 100% !important;
}

// For outer circle
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #30d2ad !important;
}

//For inner circle
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #30d2ad !important;
}

.fieldCont {
    width: calc(100vw - 20px);
    margin-left: 10px;
    margin-top: 36px;

    &>input {
        width: 100%;
        outline: none;
        border-radius: 10px;
        padding: 21px 12px 21px 12px;
        text-indent: 10px;
        border: 1px solid #eeeeee;

        &:focus {
            border: 1px solid #30d2ad;
        }

        &.error {
            border: 1px solid #f00;
        }

        &.valid {
            border: 1px solid #30d2ad;
        }
    }

    .primaryField {
        font-size: 20px;
        font-weight: 700;
    }

    .secField {
        font-size: 17px;
        font-weight: 500;
    }

    &>label {
        position: relative;
        left: 6px;
        top: -9px;
        font-size: $font-xxl;
        color: #9796a1;
    }
}