<div class="baseCont" id="viewCont">
    <div class="welcomeCont">
        <div class="userName">Hi {{userName||'there!'}},</div>
        <div class="wishes">{{greeting}}</div>
    </div>
    <div id="featureCont">
        <div class="search-title">
            What are you looking for today?<span style="float:right;" [routerLink]="['/products/search']">
                <img src="assets/home/search.png" />
            </span>
        </div>

        <div class="row" style="margin:0px; position: relative;">
            <div class="container recent-group" style="padding: 0;">
                <div class="row text-center" style="margin: 0px;">
                    <div class="col-4" *ngFor="let item of categories; let i=index;" style="width:21.4% !important;">
                        <div class="categoryItems" [routerLink]="[item.routerLink]" [queryParams]="{tnk: timestamp}">
                            <div class="imgBg">
                                <img [src]=item.imgUrl width="49" class="categories" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="seeAll" (click)="sellAllAction()" [routerLink]="['/products/category/Vegetables']">See All</div>

        <!-- Beautiful 4-Slide Banner Carousel (Vegetables, Fruits, Milk, Tender Coconut) -->
        <div class="hero-banner-container">
            <div class="banner-carousel" [style.transform]="'translateX(-' + (activeSlideIndex * 100) + '%)'">
                <div class="banner-slide" 
                     *ngFor="let slide of heroSlides; let i = index" 
                     [style.background]="slide.bgGradient"
                     (click)="onBannerClick(slide)">
                    <div class="slide-content">
                        <span class="slide-badge">{{ slide.badge }}</span>
                        <h2 class="slide-title">{{ slide.title }}</h2>
                        <p class="slide-desc">{{ slide.desc }}</p>
                        <div class="slide-cta">
                            <span>{{ slide.btnText }}</span>
                            <span class="material-icons">arrow_forward</span>
                        </div>
                    </div>
                    <div class="slide-visual">
                        <img [src]="slide.imgUrl" [alt]="slide.title" class="slide-img" />
                    </div>
                </div>
            </div>

            <!-- Left & Right Arrow Controls -->
            <button class="carousel-arrow prev" (click)="prevSlide($event)" aria-label="Previous Slide">
                <span class="material-icons">chevron_left</span>
            </button>
            <button class="carousel-arrow next" (click)="nextSlide($event)" aria-label="Next Slide">
                <span class="material-icons">chevron_right</span>
            </button>

            <!-- Slide Indicator Dots -->
            <div class="carousel-dots">
                <span *ngFor="let slide of heroSlides; let i = index" 
                      class="dot" 
                      [class.active]="i === activeSlideIndex"
                      (click)="goToSlide(i); $event.stopPropagation()">
                </span>
            </div>
        </div>

        <div class="tnkspt-because-title">
            Recommended
        </div>

        <div class="row" style="margin:0px; position: relative;">

            <div class="container recent-group" style="padding: 0; margin: 0;">
                <div class=" row text-center" style="margin: 0px;">
                    <div class="col-3" style="width: 36% !important;"
                        *ngFor="let product of recommended_products; let i=index;">
                        <div class="categoryItems_2">
                            <div class="imgBg_1">
                                <img [src]=product.img_url height="64" width="64" class="categories" alt="...">
                            </div>
                            <div class="p_info">
                                <p class="card-title-plain">{{product.name}} - {{product.updated_weight ||
                                    product.weight}} {{product.unit_name}}
                                </p>
                                <p class="price">₹{{product.price}}</p>
                            </div>

                            <plus-minus [caption]="" [inputVal]="(product['units']||0)" [stepVal]="1" [minVal]="0"
                                (onChange)="plusMinusValue($event, product)"
                                *ngIf="!product.disabled; else NotAvailable">
                            </plus-minus>

                            <ng-template #NotAvailable>
                                <span style="color: red;">Not Available</span>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:6px; position: relative;" *ngIf="cartS.isCart$ | async">
            <div style="height: 64px;"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- <app-footer></app-footer> -->
</div>