<div class="clearfix"></div>
<div class="supportContainer">
    <div class="imgCont">
        <img src="assets/support/support.png" alt="Support Image">
    </div>
    <div class="label">
        Hello, how can we help you?
    </div>

    <div class="supportOptions">
        <div>
            <span style="position: relative; left:0"><img src="assets/support/whatsapp.png" /></span>
            <span style="margin-left: 18px;" class="font-14">
                <a [href]="whatsappLink">Whatsapp Us</a>
            </span>
            <span style="min-width:36px; text-align: right; text-align: center; top:0">
                <span class="material-icons" style="position: relative;
    top: 6px;
    left: 0px;
    font-size: 20px; font-weight: bolder; float: right;">
                    keyboard_arrow_right
                </span>
            </span>
        </div>
        <div>
            <span style="position: relative; left:0"><img src="assets/support/mail.png" /></span>
            <span style="margin-left: 18px;" class="font-14">
                <a [href]="mailto">Send us an Email</a></span>
            <span style="min-width:36px; text-align: right; text-align: center; top:0">
                <span class="material-icons" style="position: relative;
    top: 6px;
    left: 0px;
    font-size: 20px; font-weight: bolder; float: right;">
                    keyboard_arrow_right
                </span>
            </span>
        </div>
    </div>
</div>